/*
 * Globals
 */


/* Links */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50px;
}

.fa-instagram {
    background: #175785;
    color: white;
    border-radius: 50px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #00b3a0;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background: url("img/otis-bg.png") no-repeat center center fixed;
  background-color: #00b3a0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Abel', sans-serif;

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  border-radius: 30px
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {

}

/* Padding for spacing */
.inner {
  padding-top: 10px;
  padding-bottom: 0px;
}


.header img {
  border-radius: 30px;
  float: left;
  width: 100px;
  height: 100px;
  background: #00b3a0;
  padding-top: 5px;
  padding-bottom: 10px;

}

.header h3 {
  position: fixed;
  top: 120px;
  left: 315px;
}

.incentive {
  color: #e0ef99;
}

.button {
    background-color: #FBB55D;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.indicates-required {
  color: #CEE781;
  font-size: 10px;
}

.button:hover {
    background-color: #CEE781;
    color: white;
}

.mc-field-group {
  padding: 10px;

}



@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
